# SwiftFormat configuration
#
# Rules: https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md
#

--header "\n  {file}\n  Copyright © Paulo Fierro. All rights reserved.\n"
--swiftversion 6.2

#
# NOTES:
#
# hoistPatternLet   - 🤢 can be enabled, but not a fan.
# trailingClosures  – 👎 we prefer explicit closures
# trailingCommas    - 👎 these aren't useful
# unusedArguments   - 👎 removing args that aren't in use isn't useful
# wrapMultilineStatementBraces - 👎 no thanks
#

--decimal-grouping 3
--ifdef no-indent
--disable hoistPatternLet, trailingClosures, trailingCommas, unusedArguments, wrapMultilineStatementBraces
